@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin : 0px;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    background: white;
    min-height: 100vh;
    overflow-x: hidden;
    display :flex
}

header {
    background-color:white;
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    padding : 20px 50px;
    display : flex;
    justify-content: space-between;
    align-items:center;
    z-index : 100;
}

.logo{
    font-size: 0.5rem;
    pointer-events : none;
}

.nav a{
    text-decoration: none;
    font-size: 15px;
    color : black;
    padding : 6px 15px;
    border-radius : 20px;
    margin : 0 10px;
    padding : 6px 15px;
    border-radius : 20px;
    margin : 0 10px;
    font-weight : 600;
}
.nav a:hover{
    transition: ease;
    background : black;
    color:white;
}

