<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Courserizer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app-styles.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/Designer.png') }}">
</head>
<body>
  <div class="container">
    <form id="urlForm" action="{{ url_for('myapp') }}" method="post">
      <label for="url">Enter URL:</label><br>
      <input type="text" id="url" name="url"><br>
      <span id="urlError" style="color: red; display: none;">Please enter a URL.</span><br>
      <span id="invalidURLError" style="color: red; display: none;">Invalid URL. Please enter a valid URL.</span><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>

  <script>
    document.getElementById('urlForm').addEventListener('submit', function(event) {
      var urlInput = document.getElementById('url').value.trim();
      var urlError = document.getElementById('urlError');
      var invalidURLError = document.getElementById('invalidURLError');

      // Regular expression to validate URL format
      var urlPattern = /^(http(s)?:\/\/)?(www\.)?[a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)$/;

      if (urlInput === '') {
        urlError.style.display = 'inline';
        event.preventDefault();
      } else if (!urlPattern.test(urlInput)) { // Check if URL format is valid
        invalidURLError.style.display = 'inline';
        event.preventDefault();
      } else {
        urlError.style.display = 'none';
        invalidURLError.style.display = 'none';
      }
    });
  </script>
</body>
</html>
