<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Logo</h1>
        <nav class="navigation">
            <a href= "/">Home</a>
            <a href= "/about">About</a>
            <a href= "/service">Service</a>
            <a href= "/use">How To Use</a>
            <a href= "/contact">Contact</a>
        </nav>
    </header>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>